/* General styles */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lobster', cursive;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #F8F9FA;
    width: 100%;
}

p {
    padding: 0px;
    margin: 0px;
}


dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

/* Header */

.bg-header {
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.first,
.second {
    padding: 4px 0px;
}

/* Home */

.home {
    padding: 0.5rem 0rem;
}

/* Overview */
.overview {
    padding: 1rem;
}

/*=================================================================================================
Cards
=================================================================================================*/

.card {
    background-color: white;
    padding: 12px;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
    width: 100%;

}

.card .card {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: none;
    padding-bottom: 0;
    padding-top: 1rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.card-title {
    padding: 0px;
    margin: 0px;
}

.list-group-icon {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.list-group-item i {
    flex-basis: 1.25rem;
}

.list-group-icon .list-group-item {
    padding: 0;
    border: none;
    border-radius: 0;
    display: flex;
    gap: 0.5rem;
    overflow: hidden;
}