@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

$primary:#20B670;
$primary-bg-subtle: #e0f7ec; 
$secondary: #8296D9;
$light: #CFD8D8;
$font-family-base: 'Space Grotesk', sans-serif;
$link-color: black;
$link-decoration:none;

$nav-pills-link-active-color: #115F45;
$nav-pills-link-active-bg: #87F7B2;

$badge-border-radius:2rem;

$btn-link-color:#181818;

@import "../node_modules/bootstrap/scss/bootstrap";


// Then add additional custom code here