/*=================================================================================================
General Styles
=================================================================================================*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lobster', cursive;
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
    background: var(--bs-gray-100);
}

a {
    text-decoration: none;
}

/*=================================================================================================
Nav
=================================================================================================*/
header {
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active{
        border-bottom: 2px solid var(--bs-primary);
        color: var(--bs-primary);
    }

.navigation {
    border-top: 1px solid #E0E6E6;
}

.navigation .navbar,
.navBody {
    padding: 0;
    margin: 0;
}

/*=================================================================================================
Page Header
=================================================================================================*/



.page-header {
    padding: 1rem 0;
    background: white;
    border-bottom: 1px solid rgba(33, 37, 41, 0.25);
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.05);

    .breadcrumb {
        margin-bottom: 0.25rem;
    }
    .header-container{

        .header-info{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        
            .header-title {
                
                display: flex;
                align-items: center;
                gap: 0.5rem;
                width: 100%;
                h4 {
                     margin: 0;
                }
            }   
            .actions {
                display: flex;
                gap: .5rem;
                
                .contextual-menu{

                    .btn{
                    border: none;
                    color:black;
                    }

                }
                    }
        
        } 
        
    }
    
}



/*=================================================================================================
Cards
=================================================================================================*/

.card{
    background-color: white;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
    width: 100%;

    .card {
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, .1);
    }

    .card-header {
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        border: none;

        h1, h2, h3, h4, h5{
            margin: 0;
        }

        

        .actions{
            display: flex;
            gap: .5rem;
        }

    }

   

    .card-body {
        padding: .5rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .card-title{
            margin: 0;
        }
    }

    .card-text {
        width: 100%;
    }

    .card-icon {
        width: 1.25rem;
        height: 1.25rem;

        flex-shrink: 0;
    }
    .list-group-icon {

        .list-group-item {
            padding: 0;
            border: none;
            border-radius: 0;
            display: flex;
            gap: .5rem;
            overflow: hidden;
        }
        
    }

    &.card-overview {
        padding: 1rem;
        flex-direction: row;
        align-items: center;
    
        .card-icon {
            width: 3rem;
            height: 3rem;
            flex-shrink: 0;
        }
        
        .card-body {
            gap: 0;
        }
    }

    &.latest-jobs {
            
            .card-body {
            gap: .25rem;
        }
        
            .list-group {
            display: flex;
            flex-direction: row;
           
            gap: 2rem;

            .list-group-item {
                padding: 0;
                border: none;
                border-radius: 0;
                display: flex;
                gap: .5rem;
                overflow: hidden;
            }

        }
    }

    &.card-jobs {
            padding: 0 2rem;
            .card-body {
            gap: .25rem;
        }
        
            .list-group {
            display: flex;
            flex-direction: row;
            gap: 2rem;

            .list-group-item {
                padding: 0;
                border: none;
                border-radius: 0;
                display: flex;
                gap: .5rem;
                overflow: hidden;
            }

        }

            .actions {
                    position: absolute;
                    display: flex;
                    gap: .5rem;
                    top: 1rem;
                    right: 1rem;
                }



            .form-check-input {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                }
                .btn{
                    padding: .25rem;
                    border: none;
                    color: black;
                }

    }

    .contextual-menu{

        .btn{
            padding: 0.5rem;
            border: none;
            color: black;
            }

    }

    .card-action{
        padding:1.5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;
        .btn{
            width: 100%;
         }
        .btn-primary{
            color: var(--bs-white);
            width: 100%;
        }

    }

}

.card-badge {
        padding: 0;
        margin: 0;
    }

/*=================================================================================================
dropdown
=================================================================================================*/

.dropdown-item{
    display: flex;
    align-items: center;
    gap: .5rem;
   
}


/*=================================================================================================
button
=================================================================================================*/
:root{
    --bs-btn-hover-color: white !important;
    --bs-btn-active-color: white !important;
}
.btn{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;

    &.btn-primary{
    color: var(--bs-white);
   }

    i{
       color: inherit;
    }
}

/*=================================================================================================
badge
=================================================================================================*/

:root{
    --ghost-primary:#87F7B2;
    --ghost-primary-text: #115F45;

    --ghost-secondary: #BFDBFE;
    --ghost-secondary-text: #49548D ;

    --ghost-warning: #FFE69C;
    --ghost-warning-text: #997404;

    --ghost-danger: #F1AEB5;
    --ghost-danger-text: #842029;

    --ghost-grey: #CFD8D8;
    --ghost-grey-text: #4E676A ;

}

.badge-ghost-primary{
  
    color: var(--ghost-primary-text);
    background: var(--ghost-primary);
  
}

.badge-ghost-secondary{
    color: var(--ghost-secondary-text);
    background: var(--ghost-secondary);
}

.badge-ghost-warning{
    color: var(--ghost-warning-text);
    background: var(--ghost-warning);
}

.badge-ghost-archive{
    color: var(--ghost-grey-text);
    background: var(--ghost-grey);
}

.badge-ghost-closed{
    color: var(--ghost-grey-text);
    border: 2px solid var(--ghost-grey-text);
}





/*=================================================================================================
Home
=================================================================================================*/


.home {
    padding: 1.5rem 0rem;

}

.home .container>.row+.row {
    margin-top: 1.5rem;
}


/*=================================================================================================
Jobs
=================================================================================================*/
.jobs{

    .jobs-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    
    .input-group {
        width: 60%;
    }

}


/*=================================================================================================
Jobs/Details
=================================================================================================*/

.job-description{

    .card-job-description {
        height: 100%;
        .form-control {
            height: 100%;
        }

    }
    
    
    .description-body {
        .card-recruiter{

            .avatar {
                transform: scale(0.5);
            }

        }
        .job-pipeline{
            overflow: hidden;
            .card-body{
                height: 700px;
                display: flex;
                flex-direction: row;
                width: 100%;
                overflow: hidden;

                .pipeline-step{
                    background-color: var(--bs-light);
                    width: 295px;
                    border-color: var(--bs-gray-500);

                    .step-header{
                        padding: 0.5rem 1rem 0;
                        display:flex ;
                        justify-content: start;
                        align-items: center;
                        
                        
                        .card-icon{
                           margin:.5rem;
                        }
                        h6{
                            margin: 0;
                        }
                        
                    }
                    .step-list{
                        padding: .5rem;
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;
                        height: 100%;
                        .candidate {
                                background: var(--bs-white);
                                border-radius: 0.5rem;
                                border: none;
                                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
                                width: 100%;
    
                                .card-body{
                                    height: fit-content;
                                    width: 100%;
                                }
                           


                        }
                    }
                }

                .disqualified{
                    border-color:var(--bs-red);
                }
                    
                .hired{
                    border-color: var(--bs-primary);
                }
                    
            }
        }
    
    
    }
}


        
    


   


