/*=================================================================================================
General Styles
=================================================================================================*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lobster', cursive;
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
    background: var(--bs-gray-100);
}

a {
    text-decoration: none;
}

/*=================================================================================================
Nav
=================================================================================================*/

header {
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    .first-row{
        padding: .25rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .profile{
            display: flex;
            justify-content:center ;
            align-items: center;
            gap: .5rem;
        }

        
    }
}

.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active{
        border-bottom: 2px solid var(--bs-primary);
        color: var(--bs-primary);
    }
    
    .navigation {
        border-top: 1px solid #E0E6E6;
    }
    
    .navigation .navbar,
    .navBody {
        padding: 0;
        margin: 0;
    }
    
/*=================================================================================================
Listing layout
=================================================================================================*/

.listing-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .batch-actions{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 100%;
        gap: .5rem;
        margin: 0;
        .btn{
            width: 100%;
        }
    }
    
    .input-group{
        width: 100%;
    }
}

.listing-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
}

.mobile{
    visibility: hidden;
    .batch-actions{
        position: fixed;
        width: 100%;
        left:0px;
        bottom:0px;
        background: var(--bs-white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-top: solid 1px var(--bs-gray-400);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
        .btn{
            width: 100%;
        }
    }
}

@media(max-width: 361px){

    .mobile{
        visibility:visible;
        
    }

    .listing-header{
        .batch-actions{
            display: none;
        }
        
    }
    #mobile{
    margin: 0;
    padding:1rem;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.05);
    background: var(--bs-white);
    border-bottom: solid 1px var(--bs-gray-400);
    
    .nav{
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 0 0 1rem 0;
    margin: 0;
    }
    
    

    }
    
}

/*=================================================================================================
Page Header
=================================================================================================*/

.page-header {
    padding: 1rem 0;
    background: white;
    border-bottom: 1px solid rgba(33, 37, 41, 0.25);
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.05);

    .breadcrumb {
        margin-bottom: 0.25rem;
    }
    .header-container{

        .header-info{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        
            .header-title {
                
                display: flex;
                align-items: center;
                gap: 0.5rem;
                width: 100%;
                h4 {
                     margin: 0;
                }
            }   
            .actions {
                display: flex;
                gap: .5rem;
                
                .contextual-menu{

                    .btn{
                    border: none;
                }

                }
                    }
        
        } 
        
    }
    
}

/*=================================================================================================
Cards
=================================================================================================*/

.card{
    background-color: white;
    border-radius: 0.5rem;
    border: solid 1px transparent;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
    width: 100%;

    .card {
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, .1);
    }

    .card-header {
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        border: none;

        h1, h2, h3, h4, h5{
            
            margin: 0;
            
        }

        

        .actions{
            display: flex;
            gap: .5rem;
        }

    }

   

    .card-body {
        width: 100%;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .card-title{
            width: 60%;
            overflow: hidden;
            margin: 0;
        }
    }

    .card-text {
        width: 100%;
    }

    .card-icon {
        width: 1.25rem;
        height: 1.25rem;
        flex-shrink: 0;
    }
    .list-group-icon {

        .card-item {
            padding: 0;
            border: none;
            border-radius: 0;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: .5rem;
            overflow: hidden;

            p{
                margin: 0;
            }
        }
        
    }

    &.card-overview {
        padding: 1rem;
        flex-direction: row;
        align-items: center;
    
        .card-icon {
            width: 3rem;
            height: 3rem;
            flex-shrink: 0;
        }
        
        .card-body {
            gap: 0;
        }
    }

    &.latest-jobs {
            
            .card-body {
            gap: .25rem;
        }
        
            .list-group {
            display: flex;
            flex-direction: row;
           
            gap: 2rem;

            .list-group-item {
                padding: 0;
                border: none;
                border-radius: 0;
                display: flex;
                gap: .5rem;
                overflow: hidden;
            }

        }
    }

    &.card-jobs {
        padding: 0 2rem;
        .card-body {
        gap: .25rem;
        }
        
        .list-group {
            display: flex;
            flex-direction: row;
            gap: 2rem;

            .list-group-item {
                padding: 0;
                border: none;
                border-radius: 0;
                display: flex;
                gap: .5rem;
                overflow: hidden;
            }
        }

        &.selected{
            background-color: var(--bs-primary-bg-subtle);
            border: solid 1px #79D3A9;
        }

        .actions {
                position: absolute;
                display: flex;
                gap: .5rem;
                top: 1rem;
                right: 1rem;
            }

        .form-check-input {
                position: absolute;
                top: 1rem;
                left: 1rem;
            }
        

    }

    &.card-users {
        display: flex;
        flex-direction: row;
        padding: 0 1rem 0 0;
        .card-body {
        width: 100%;
        gap: .25rem;
        overflow: hidden;
        }
        .avatar-container{
            flex-shrink: 0;
            width: 3.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1.5rem;
            .avatar{
                width:100%;
                height: 3.5rem;
                border-radius: 15rem;
                h3{
                    margin: 0;
                    color: #CA6510;
                }
            }
        }
        
        .list-group {
            
            

            .list-group-item {
                padding: 0;
                border: none;
                border-radius: 0;
                display: flex;
                gap: .5rem;
                overflow: hidden;
            }
        }

        &.selected{
            background-color: var(--bs-primary-bg-subtle);
            border: solid 1px #79D3A9;
        }

        .actions {
                position: absolute;
                display: flex;
                gap: .5rem;
                top: 1rem;
                right: 1rem;
            }

        .form-check-input {
                position: absolute;
                top: 1rem;
                left: 1rem;
            }
        

        }

    &.card-templates{
            padding: 0 2rem;
            .card-body {
            gap: .25rem;
            }
            
            .list-group {
                display: flex;
                flex-direction: row;
                gap: 2rem;

                .list-group-item {
                    padding: 0;
                    border: none;
                    border-radius: 0;
                    display: flex;
                    gap: .5rem;
                    overflow: hidden;
                }
            }

            &.selected{
                background-color: var(--bs-primary-bg-subtle);
                border: solid 1px #79D3A9;
            }

            .actions {
                    position: absolute;
                    display: flex;
                    gap: .5rem;
                    top: 1rem;
                    right: 1rem;
                }

            .form-check-input {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                }
            

        }


    &.card-chat{
        
        padding: 1rem 1rem 1rem 3.5rem;
        .avatar-container {
            position: absolute;
            left: 1rem;
            top: 0;
            display: flex;
            justify-content:center;
            align-items: center;
            width: 2rem;
            height: 100%;
        }
       
        .card-header{
            padding: 0;
        }
        .card-body{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: end;
            padding: 0;
        
            .message-info{
                display: flex;
                flex-direction: row;
                gap: .5rem;
                justify-content: start;
                align-items: end;

                    .message-view{
                        height:1.5rem;
                        overflow: hidden;
                        margin: 0;
                        width: 100%;
                    }
                    .time{
                        width: fit-content;
                        
                    }

            }
        }
        &.selected{
            border: none;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
            background:var(--bs-primary);
            .card-header{
                color: var(--bs-white);
            }
            .card-text{
                color: var(--bs-white);
            }
        }
    

    }

    .contextual-menu{

        .btn{
            padding: 0.5rem;
            border: none;
            color: black;
            }

    }

    

}

.card-badge {
        padding: 0;
        margin: 0;
}

/*=================================================================================================
avatar
=================================================================================================*/

 .avatar{
                width: 2rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #FECBA1;
                border-radius: 2rem;
                p{
                    color: #CA6510;
                    text-align: center;
                    margin:0;
                }
    }

/*=================================================================================================
dropdown
=================================================================================================*/

.dropdown-item{
    display: flex;
    align-items: center;
    gap: .5rem;
}

/*=================================================================================================
Paginator
=================================================================================================*/

    .pagination{

        display: flex;
        justify-content: end;
    }

/*=================================================================================================
button
=================================================================================================*/

.btn{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    i{
            color: inherit;
    }

    .btn-icon{
        width: 1.25rem;
        height: 1.25rem;
    }


    &.btn-primary{
         --bs-btn-color: var(--bs-white);
         --bs-btn-hover-color:var(--bs-white);
    }
   
    &.btn-outline-danger{
        
        --bs-btn-hover-color:var(--bs-white);

     }

    &.btn-outline-primary{
          --bs-btn-hover-color:var(--bs-white);
     }

}

.icon-button{
    border: none !important;
    width: 2.5rem;
    height: 2.5rem;
}

/*=================================================================================================
badge
=================================================================================================*/

:root{
    --ghost-primary:#87F7B2;
    --ghost-primary-text: #115F45;

    --ghost-secondary: #BFDBFE;
    --ghost-secondary-text: #49548D ;

    --ghost-warning: #FFE69C;
    --ghost-warning-text: #997404;

    --ghost-danger: #F1AEB5;
    --ghost-danger-text: #842029;

    --ghost-grey: #CFD8D8;
    --ghost-grey-text: #4E676A ;

}

.badge-ghost-primary{
  
    color: var(--ghost-primary-text);
    background: var(--ghost-primary);
  
}

.badge-ghost-secondary{
    color: var(--ghost-secondary-text);
    background: var(--ghost-secondary);
}

.badge-ghost-warning{
    color: var(--ghost-warning-text);
    background: var(--ghost-warning);
}

.badge-ghost-archive{
    color: var(--ghost-grey-text);
    background: var(--ghost-grey);
}

.badge-ghost-danger{
    color: var(--ghost-danger-text);
    background:var(--ghost-danger);
}

.badge-ghost-closed{
    color: var(--ghost-grey-text);
    border: 2px solid var(--ghost-grey-text);
}

/*=================================================================================================
Home
=================================================================================================*/

.home {
    padding: 1.5rem 0rem;

}

.home .container>.row+.row {
    margin-top: 1.5rem;
}


/*=================================================================================================
Jobs/Details
=================================================================================================*/

.job-description{

    .card-job-description {
        height: 100%;
        .form-control {
            height: 100%;
        }

    }
    
    
    .description-body {
        .card-recruiter{

           .avatar-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 1rem;
            h3{
                margin: 0;
                text-align: left;
                width: 100%;
            }
            .avatar{
                h1{
                    color: #CA6510;
                    margin: 0;
                }
                height: 8.25rem;
                width: 8.25rem;
                border-radius: 9rem;
                
            }

        }

        }
        .job-pipeline{
            overflow: hidden;
            .card-body{
                height: 700px;
                display: flex;
                flex-direction: row;
                width: 100%;
                overflow: hidden;

                .pipeline-step{
                    background-color: var(--bs-gray-100);
                    width: 295px;
                    border-color: var(--bs-gray-500);

                    .step-header{
                        padding: 0.5rem 1rem 0;
                        display:flex ;
                        justify-content: start;
                        align-items: center;
                        
                        
                        .card-icon{
                           margin:.5rem;
                        }
                        h6{
                            margin: 0;
                        }
                        
                    }
                    .step-list{
                        padding: .5rem;
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;
                        height: 100%;
                        .candidate {
                                background: var(--bs-white);
                                border-radius: 0.5rem;
                                border: none;
                                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
                                width: 100%;
    
                                .card-body{
                                    height: fit-content;
                                    width: 100%;
                                }
                           


                        }
                    }
                }

                .disqualified{
                    border-color:var(--bs-red);
                }
                    
                .hired{
                    border-color: var(--bs-primary);
                }
                    
            }
        }
    
    
    }
}

/*=================================================================================================
Messages
=================================================================================================*/ 
    
.messages{
   .message-section{
    overflow: hidden;
   }
   .candidates-chats{
        border-right: solid 1px var(--bs-gray-400);
        height: 736px;
        .chat-header{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
     }
    
        .chat-body{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items:start;
            padding: 1rem;
            gap: .5rem;
        }

    }

    .chat-info{
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items:start;
        gap: 2rem;
        padding: 1rem;
        .card-body{
            padding: 0;
            .list-group-icon{
                gap: 1rem;
            }
        }
        .avatar-container{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            .avatar{
                h1{
                    color: #CA6510;
                    margin: 0;
                }
                height: 8.25rem;
                width: 8.25rem;
                border-radius: 9rem;
                
            }

        }
         border-left: solid 1px var(--bs-gray-400);
         height: 100%;

    }

    .messenger{
        height: 100%;
        display: flex;
        flex-direction: column;

        .messenger-body{
            padding: 1rem 1rem 0 1rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .date{
                display: flex;
                flex: row;
                justify-content: space-around;
                align-items: center;
                p{
                    text-align: center;
                    width: 100%;
                    margin: 0;
                }
                .divider{
                    width: 100%;
                    height: 1px;
                    background:var(--bs-gray-400) ;
                }
            }
            .card{
               border: none;
               padding: .5rem;

                &.message-received{
                    width: 75%;
                    display: flex;
                    flex-direction: row;
                    align-items: end;
                    gap: .5rem;
                    background:#BFDBFE;
                    p{
                        margin: 0;
                    }
                }
                &.message-sent{
                    margin-left: 25%;
                    width: 75%;
                    display: flex;
                    flex-direction: row;
                    align-items: end;
                    gap: .5rem;
                    background:#87F7B2;
                    p{
                        margin: 0;
                    }
                }
            }
            
        }
        .messenger-input{
            padding: 1rem 1rem 0 1rem;
            height: 70px;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            padding: 1rem;
            background: var(--bs-gray-100);
            border-top: solid 1px var(--bs-gray-400);
            p{
                width: 100%;
                margin: 0;
            }
            .btn{
                width: 34px;
                border-radius: 5rem;
            }
        }
    }


       
    
}
   
/*=================================================================================================
My Organization
=================================================================================================*/ 

.my-organization{
    .organization-records{
        .card-header{
            justify-content: center;
            align-items: center;
            padding: 1rem;
            .myorganization-logo{
                transform: scale(2);
            }

        }
    }
    
    .organization-info{
        
         .info{
            flex-direction: row;
            }

        .description{
            width: 100%;
       textarea{
        height: 16rem;
       }
        }
        .organization-admin{
            border-left: 1px solid var(--bs-gray-400);
                .avatar-container{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    .avatar{
                        h1{
                            color: #CA6510;
                            margin: 0;
                        }
                        height: 8.25rem;
                        width: 8.25rem;
                        border-radius: 9rem;
                    }
            }
        }
    }

}
